.alertBox {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  padding: 1rem;
  background-color: rgb(228, 205, 5);
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.alert {
  border: none;
  font-size: 20px;
  font-weight: 400;
  background: none;
  border: 2px rgba(0, 0, 0, 0.541) solid;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  opacity: 1;
}

.hidden {
  opacity: 0;
  display: hidden;
}
